/* ScrollPane */
.scroll-pane {
	-fx-background-color: transparent;
}

.scroll-pane .viewport {
	-fx-background-color: transparent;
}

.scroll-pane .content {
	-fx-background-color: transparent;
}

/* ScrollBar */
.scroll-bar:horizontal, .scroll-bar:vertical {
	-fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: #CCCCCC;
	-fx-background-radius: 5;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
	-fx-background-color: #AAAAAA;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 0;
}
/* General button styling */
.modern-button {
	-fx-background-color: #007BFF;
	-fx-text-fill: white;
	-fx-border-radius: 15px;
	-fx-padding: 10px 20px;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

/* Hover effect for buttons */
.modern-button:hover {
	-fx-background-color: #0056b3;
}

/* Specific styling if needed */
#previousButton,
#nextButton {
	/* Add any specific styles here if different from.modern-button */
}
